<h1><%= t(:make_loan_application,scope: :loan_application)  %></h1>
<div class="span3">
	<%= render "shared/form_errors", :object => @client %>
</div>
<div class="span6">

  <%= form_for :page, url: save_page_loan_application_path(@loan_application), html: {class: 'form-horizontal'} do |form| %>
	  <%= hidden_field_tag :page_number, @page_number %>
    <fieldset>
			<% form.fields_for :questions do |builder| -%>
			  <% for question in @page.questions do -%>
			    <%= builder.hidden_field :text %>
          <div class="span4">
            <%= question.text %>
          </div>
          <div class="span2 controls">
            <%= builder.select :answer, question.options, {}, { class: 'input-xlarge' } %>
          </div>
  			<% end -%>
			<% end -%>
      <div class="control-group">
        <div class="controls"><%= form.button t(:next_page), disable_with: t(:processing) %> </div>
      </div>
    </fieldset>
  <% end %>
</div>
