<div class="span6">
  <p>
    <%= "#{@payment.name.capitalize} : #{@account.owner} : #{@account.number} : #{@account.type}"  %>  
  </p>
  <%= form_for [:data_manager,@payment], html: {class: 'form-horizontal'} do |form| %>
    <%= form.hidden_field :name %> 
    <%= form.hidden_field :account_id, { class: 'input-xlarge' }  %> 
    <fieldset>
      <div class="control-group">
       <%= form.label :amount, class: 'control-label' %> 
       <div class="controls">
         <%= form.text_field :amount, { class: 'input-xlarge' } %> 
       </div>
      </div>
      <div class="control-group">
        <div class="controls"><%= form.button t(:create,name:t(@payment.name.to_sym)), disable_with: t(:processing) %> </div>
      </div>
    </fieldset>
  <% end %>
</div>
<%= content_for :errors do %>
  <%= render "shared/form_errors", :object => @payment %>
<% end %>

