<div class="span6">
  <p>
    <%= "#{@payment.name.capitalize} : #{@account.owner} : #{@account.number} : #{@account.type}"  %>  
  </p>
  <%= form_for @payment, url: data_manager_payments_path(@payment), html: {class: 'form-horizontal'} do |form| %>
    <%= form.hidden_field :name %> 
    <%= form.hidden_field :account_id, { class: 'input-xlarge' }  %> 
    <fieldset>
      <div class="control-group">
       <%= form.label :amount, class: 'control-label' %> 
       <div class="controls">
         <%= form.text_field :amount, { class: 'input-xlarge' } %> 
       </div>
      </div>
      <div class="control-group">
        <div class="controls"><%= form.button "Create #{@payment.name.capitalize}", disable_with: "Processing ..." %> </div>
      </div>
    </fieldset>
  <% end %>
</div>
