<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><%= t(:title, scope: [:data_manager,:payments_menu]) %></li>
      <li><a href="<%= search_data_manager_accounts_path(on_select:'Payment') %>"><%= t(:pay_in, scope: [:data_manager,:payments_menu]) %></a></li>
      <li><a href="<%= search_data_manager_accounts_path(on_select:'Withdrawal') %>"><%= t(:withdrawals, scope: [:data_manager,:payments_menu]) %></a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
