<div class="span6">
  <p>
  <% if @payment.valid? -%>
    <%= t :"#{@payment.name.downcase}" %> <%= t :of %> <%= @payment.amount %> <%= t :made_to %> <%= @payment.account %>
  <% else -%>
    <%= @payment.errors.full_messages.join('<br />') %>
  <% end -%>
  </p>
  <p>
    <%= t :balance %> <%= @account.balance %>
  </p>
</div>