<div class="span6">
  <% if @payment.valid? -%>
    <p>
      <%= t @payment.name.downcase %> <%= t :of %> <%= @payment.display_amount.html_safe %> <%= t :made_to %> <%= @payment.account.number %>
    </p>
  <% else -%>
    <p>
      <%= t :failed  %> <%= t @payment.name.downcase %> <%= t :of %> <%= @payment.display_amount.html_safe %> <%= t :made_to %> <%= @payment.account.number %>
    </p>
    <p>
      <%= @payment.errors.full_messages.join('<br />') %>
    </p>
  <% end -%>
  <p>
    <%= t :balance %> <%= @account.display_balance.html_safe %>
  </p>
</div>
