<div class="span6">
  <p>
    <%= t :"#{@payment.direction}" %> <%= t :of %> <%= @payment.amount %> <%= t :made_to %> <%= @payment.account %>
  </p>
  <p>
    <%= t :balance %> <%= @account.balance %>
  </p>
</div>