<div class="span6">
  <div class="span6">
    <div class="span2">
      Title
    </div>
    <div class="span3">
      <%= Lookup::Title[@client.title_id] %>
    </div>
  </div>
  <div class="span6">
    <div class="span2">
      First name
    </div>
    <div class="span3">
      <%= @client.first_name %>
    </div>
  </div>
  <div class="span6">
    <div class="span2">
      Last name
    </div>
    <div class="span3">
      <%= @client.last_name %>
    </div>
  </div>
  <div class="span6">
    <div class="span2">
      Address line 1
    </div>
    <div class="span3">
      <%= @client.address1 %>
    </div>
  </div>
  <div class="span6">
    <div class="span2">
      Address line 2
    </div>
    <div class="span3">
      <%= @client.address2 %>
    </div>
  </div>
  <div class="span6">
    <div class="span2">
      Address line 3
    </div>
    <div class="span3">
      <%= @client.address3 %>
    </div>
  </div>
  <div class="span6">
    <div class="span2">
      Town
    </div>
    <div class="span3">
      <%= @client.town %>
    </div>
  </div>
  <div class="span6">
    <div class="span2">
      Post code
    </div>
    <div class="span3">
      <%= @client.postcode %>
    </div>
  </div>
  <div class="span6">
    <div class="span2">
      Email
    </div>
    <div class="span3">
      <%= @client.email %>
    </div>
  </div>
</div>
