<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cuprium: Data Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag "css/bootstrap.css" %>

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <%= stylesheet_link_tag "css/bootstrap-responsive.css" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Let's get JQ from google -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <%= javascript_include_tag "js/bootstrap.min"  %>
    <%= javascript_include_tag "common"  %>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= data_manager_root_path %>">Cuprium: Data Manager</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li id="home_link"><a href="<%= data_manager_root_path %>">Home</a></li>
              <li id="payments_link"><a href="<%= data_manager_payments_path %>">Payments</a></li>
              <li id="withdrawals_link"><a href="#withdrawals">Withdrawals</a></li>
              <li id="transfers_link"><a href="#transfers">Transfers</a></li>
              <li id="loans_link"><a href="#loans">Loans</a></li>
              <li id="members_link"><a href="#members">Members</a></li>
              <li id="escrow_link"><a href="#escrow">Escrow</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <%= current_data_manager.full_name %></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          <%= yield :left_links %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <hr>

      <footer>
        <p>Free and Open Source, Cuprium 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
  </body>
</html>
