<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cuprium: Data Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.min.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Let's get JQ from google -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <%= javascript_include_tag "application" %>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= data_manager_root_path %>"><%= t(:title, scope: [:data_manager, :navbar]) %></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li id="home_link"><a href="<%= data_manager_root_path %>"><%= t(:home, scope: [:data_manager, :navbar] )%></a></li>
              <li id="payments_link"><a href="<%= data_manager_payments_path %>"><%= t(:payments, scope: [:data_manager, :navbar] ) %></a></li>
              <li id="transfers_link"><a href="#transfers"><%= t(:transfers, scope: [:data_manager, :navbar] ) %></a></li>
              <li id="loans_link"><a href="#loans"><%= t(:loans, scope: [:data_manager, :navbar] ) %></a></li>
              <li id="members_link"><a href="<%= data_manager_clients_path%>"><%= t(:clients, scope: [:data_manager, :navbar] ) %></a></li>
              <li id="escrow_link"><a href="#escrow"><%= t(:escrow, scope: [:data_manager, :navbar] ) %></a></li>
              <li id="loan_types_link"><a href="<%= data_manager_loan_products_path  %>"><%=  t(:loan_products, scope: [:data_manager,:navbar] ) %></a></li>
              <li>
                <%= link_to t(:logout), destroy_data_manager_session_path, method: :delete %>        
              </li>
            </ul>
            <p class="navbar-text pull-right"><%= t(:logged_in_as) %> <%= current_data_manager.full_name %></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          <div class="span3">
            <%= render partial: 'menu' %>
            <%= yield :errors %>
            <% if flash[:message] -%>
              <p id="flash_message"> <%= flash[:message] %> </p>
            <% end -%>
          </div>
          <%= yield %>
        </div>
      </div><!--/row-->

      <hr>

      <footer>
        <p><%= t(:copyright) %></p>
      </footer>

    </div><!--/.fluid-container-->
    
  </body>
</html>
